.card{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label{
  width: max-content;
  color: tomato;
  font-size: 15px;
  border-bottom: 1px solid tomato;
  margin: 3px 0;
}

.desc{
  font-size: 14px;
}

.rating-star{
  color: goldenrod;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input, textarea {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder{
  font-size: 12px;
  color: lightslategray;
}

.submitButtonPin{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.button{
  border:none;
  padding: 7px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.logout{
  background-color: tomato;
  padding: 10px;
}

.login{
  background-color: black;
  margin-right: 8px;
}

.register{
  background-color: gray;
}

.buttons,.logout{
  position: absolute;
  top: 20px;
  right: 15px;
}